.winned{
  width: 100px;
  height:100px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.winned.move_to_this_field{
  background: gold;
  cursor: pointer;
}

.bar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  border: 2px solid black;
}

.field {
    width: 2em;
    height: 18em;
    border: 1px solid black;
}

.field > .move_to_this_field {
    background: yellowgreen;
    cursor: pointer;
}

.side__top{
  flex-flow: row-reverse;
}

.field__bot .field__pawns {
    display: flex;
    flex-flow: column-reverse;
}
.field__pawns {
  width: 100%;
  height: 100%;
}

.pawn.canMove{
  background: yellowgreen;
  transform: scale(1.1);
  cursor: pointer;
}

.side {
  display: flex;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.field__bot {
  display: flex;
  flex-flow: column-reverse;
}

.pawn__BLACK {
    background: black;
}

.pawn__WHITE {
    background: whitesmoke;
}
.pawn {
    border: 1px solid rebeccapurple;
    border-radius: 55px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: red;
}
