<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Backgammon</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='game.css') }}"
  </head>
  <body>
    <div class="game">
      <div id="messages" class="messages">

      </div>
      <div id="dices" class="dices">

      </div>
      <div class="board">
        <div class="side side__top">
            {% for field in game.fields if field.id < 13 %}
              <div class="field {{ 'field__bot' if field.id > 12 else 'field__top' }}">
                {{field.id}}

                <div id="field{{ field.id }}" class="field__pawns">
                  {% for pawn in field.pawns %}
                    <div id="pawn{{pawn.id}}" class="pawn pawn__{{pawn.color}}">
                      {{ pawn.id }}
                    </div>
                  {% endfor %}
                </div>


              </div>
            {% endfor %}
        </div>
        <div id="field25" class="bar"></div>
        <div id="field0" class="bar"></div>
        <div class="side side__bot">
          {% for field in game.fields if field.id > 12 %}
            <div class="field {{ 'field__bot' if field.id > 12 else 'field__top' }}">
              {{field.id}}

              <div id="field{{ field.id }}" class="field__pawns">
                {% for pawn in field.pawns %}
                  <div id="pawn{{pawn.id}}" class="pawn pawn__{{pawn.color}}">
                    {{ pawn.id }}
                  </div>
                {% endfor %}
              </div>

            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
  </body>
</html>
